<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>お買い物リスト</title>
        <link rel="stylesheet" href="CSS/base.css">
    </head>
    <body>
        <%- include("header.ejs") %>
        <section class="top-wrapper">
            <div class="container">
                <h1>ようこそ！</h1>
                <p>List-appは買いたいものをリストに記録して内容を編集したり削除することができます</p>
                <a href="/list">リストへ</a><br>
                <a href="/signup">新規登録はこちら</a>
            </div>
        </section>
        <%- include("footer.ejs") %>
    </body>
</html>