
/* スタイルのリセット */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* ここからスタイルを指定 */
header {
    padding: 10px 0px 30px 0px;
    background-color: #0000cc;
    color: #fff;
    height: 80px;
}
.header-left {
    float: left;
}
.header-left a:visited {
    color: #fff;
}
.header-right {
    color: #fff;
    float: right;
}
.header-right a:visited {
    color: #fff;
}

.top-wrapper {
    height: 500px;
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
}
.top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
}
.top-wrapper a {
    color: #fff;
    font-weight: bold;
    display: inline-block;
    background-color: #33cc66;
    padding: 8px 24px;
    margin-top: 50px;
    border-radius: 5px;
    border-style: outset;
}
.top-wrapper a:hover{
    border-style: inset;
}
.top-wrapper a:visited {
    color: #fff;
}


.login-wrapper {
    background-color: #f9f9f9;
    height: 300px;
    padding-top: 80px;
    padding-bottom: 100px;
}


.list-wrapper {
    min-height: max-content;
    padding-top: 80px;
    padding-bottom: 100px;
}

table{
    font-size: 20px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    width: max-content;
}

tr, th, td {
    padding: 5px;
}

thead {
    color: #f9f9f9;
    background-color: #339966;
}

tbody {
    text-align: center;
}
tbody tr{
    background-color: #fcc;
    border-bottom: 1px;
    width: max-content;
}
tbody td:first-child {
    color: #f9f9f9;
    background-color: #e55;
    border-bottom: 1px;
    width: max-content;
}
tbody tr:nth-child(odd) {
    background-color: #fbb;
    border-bottom: 1px;
    width: max-content;
}

tfoot td form {
    background-color: #eef;
    display: inline;
}


footer {
    padding: 20px 0px 40px 0px;
    background-color: #0000cc;
    color: #fff;
    height: 80px;
}
.footer-left {
    color: #fff;
    float: left;
}
.footer-left a:visited {
    color: #fff;
}
.footer-right {
    color: #fff;
    float: right;
}
.footer-right a:visited {
    color: #fff;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
